// Combo
// .cherry-combo-box {
//     .cherry-combo-box--header {
//         color: $mono-color-09;
//         border-top-right-radius: 4px;
//         border-top-left-radius: 4px;
//         &.is-basic {
//             background: $custom-color-08;
//             background: -moz-linear-gradient(-45deg, $custom-color-11 30%, $custom-color-08 30%);
//             background: -webkit-linear-gradient(-45deg, $custom-color-11 30%, $custom-color-08 30%);
//             background: linear-gradient(135deg, $custom-color-11 30%, $custom-color-08 30%);
//             .cherry-title {
//                 color: $mono-color-09;
//             }
//         }
//         &.is-full {
//             background: $custom-color-10;
//             background: -moz-linear-gradient(-45deg, $custom-color-04 30%, $custom-color-10 30%);
//             background: -webkit-linear-gradient(-45deg, $custom-color-04 30%, $custom-color-10 30%);
//             background: linear-gradient(135deg, $custom-color-04 30%, $custom-color-10 30%);
//             .cherry-title {
//                 color: $mono-color-01;
//             }
//         }
//     }
//
//     .cherry-combo-content {
//         padding: 10px 0px;
//         .cherry-combo-row {
//             &.is-top {
//                 display: flex;
//                 flex-flow: row wrap;
//                 justify-content: center;
//                 align-items: center;
//                 position: relative;
//                 margin-bottom: 20px;
//                 .cherry-combo-icon {
//                     width: 78px;
//                     height: 78px;
//                     background-color: transparent;
//                     background-position: center center;
//                     background-repeat: no-repeat;
//                     margin: 0 -5px;
//                     &.is-seats {
//                         background-image: url('./assets/images/summary/seats.svg');
//                     }
//                     &.is-add {
//                         width: 36px;
//                         height: 36px;
//                         background-image: url('./assets/images/summary/add.svg');
//                         z-index: 1;
//                     }
//                     &.is-baggage {
//                         background-image: url('./assets/images/summary/baggage.svg');
//                     }
//                     &.is-security {
//                         background-image: url('./assets/images/summary/security.svg');
//                     }
//                 }
//                 .cherry-combo-pill {
//                     position: absolute;
//                     top: -10px;
//                     z-index: 2;
//                 }
//             }
//             &.is-content {
//                 p {
//                     margin: 10px 0;
//                 }
//                 .cherry-line-behind {
//                     position: relative;
//                     z-index: 1;
//                     max-width: 55%;
//                     margin: 0 auto 10px auto;
//                     &:before {
//                         content: "";
//                         border-top: 1px solid $mono-color-06;
//                         margin: 0 auto;
//                         position: absolute;
//                         top: 50%;
//                         left: 0;
//                         right: 0;
//                         bottom: 0;
//                         width: 95%;
//                         z-index: -1;
//                     }
//                     span {
//                         background: $mono-color-09;
//                         padding: 0 7px;
//                     }
//                 }
//             }
//         }
//     }
// }
