<template>
    <section class="cherry-main-box cherry-combo-box odf-box">
        <!-- Header -->
        <div class="cherry-combo-box--header is-basic">
            <div class="odf-row-fluid">
                <div class="odf-col">
                    <div class="odf-container">
                        <div class="odf-box-content">
                            <div class="cherry-title">
                                Combo <span class="odf-strong">BÁSICO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="odf-container">
            <div class="odf-box-content">
                <div class="odf-row-fluid">
                    <div class="odf-col">
                        <!-- Icons -->
                        <div class="cherry-combo-box--icons">
                            <div class="cherry-combo-box--pill odf-pills odf-pills-top-arrow-center open">
                                <span class="odf-text-nowrap odf-strong">MÁS POPULAR</span>
                            </div>
                            <i class="cherry-combo-box--icon is-seats"></i>
                            <i class="cherry-combo-box--icon is-add"></i>
                            <i class="cherry-combo-box--icon is-baggage"></i>
                        </div>
                    </div>
                </div>
                <div class="odf-row-fluid odf-row-nogutter">
                    <div class="odf-col">
                        <!-- Content -->
                        <div class="cherry-combo-box--content">
                            <div class="cherry-line--behind odf-text-center"><span class="odf-text-lg odf-strong">Incluye</span></div>
                            <ul class="cherry-combo-box--benefits">
                                <li><i class="odf-icon odf-icon-tick"></i>Asientos delanteros</li>
                                <li><i class="odf-icon odf-icon-tick"></i>Maletas facturadas (20kgs)</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Btn Box Continue (Goes to Component soon...) -->
        <div class="cherry-btn-box-continue">
            <div class="odf-container">
                <div class="odf-box-content">
                    <div class="odf-row-fluid odf-row-nogutter">
                        <div class="odf-col">
                            <div class="cherry-btn-box-continue--content">
                                <div class="cherry-btn-box-continue--left">
                                    <div>Precio sin combo</div>
                                </div>
                                <div class="cherry-btn-box-continue--right is-line-through odf-text-lg odf-strong">
                                    <div>+19,98€</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="odf-row-fluid odf-row-nogutter">
                        <div class="odf-col">
                            <div class="cherry-btn-box-continue--content">
                                <div class="cherry-btn-box-continue--left">
                                    <div>Precio con combo</div>
                                    <span class="cherry-btn-box-continue--ribbon odf-text-lg">-10%</span>
                                </div>
                                <div class="cherry-btn-box-continue--right odf-text-2xl odf-strong">
                                    <div>+15,98€</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="odf-row-fluid odf-row-nogutter">
                        <div class="odf-col">
                            <div class="cherry-btn-box-continue--btn">
                                <button @click="combo" type="button" class="odf-btn odf-btn-primary odf-btn-block">
                                    Continúa con el combo BÁSICO
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<script>
    export default {
        methods: {
            combo() {
                this.$emit('continue');
            }
        }
    }
</script>
