// Base
html,
body {
    font-family: 'Open Sans', sans-serif;
    background: $mono-color-08;

  	height: 100%;
  	margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    padding: 0;
    margin: 0;
}

*,
*:after,
*::before {
    // @include box-sizing(border-box);
}

img {
    vertical-align: middle;
}

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    outline: none;
}

ol,
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: " ";
    display: table;
    clear: both;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
