// Misc
.cherry-link {
    color: $primary-brand-color;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline;
    i {
        margin-right: 5px;
    }
    &.cherry-ancillary-box-added--link {
        color: $mono-color-02;
    }
    &.cherry-combo-box-bundle--link {
        text-decoration: none;
        margin: 0;
    }
    &.cherry-combo-box-bundle--more {
        color: $mono-color-02;
        margin: 0;
    }
    &.cherry-ancillary-box-insurance--link {
        color: $mono-color-02;
        margin: 0;
    }
}

.cherry-row-header {
    margin-bottom: 20px;
    .cherry-row-header--right {
        color: $mono-color-04;
        i {
            margin-right: 5px;
        }
    }
}

.cherry-box {
    margin-bottom: 10px;
    &.is-last {
        margin-bottom: 0;
    }
}

.cherry-btn--continue {
    padding: 15px;
}

// ...Almost deprecated
.cherry-main-box {
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
    &.is-first {
        margin-top: 0;
    }
}

.cherry-top-row {
    margin-bottom: 20px;
    .cherry-title {
        &.is-right {
            color: $mono-color-04;
            i {
                margin-right: 5px;
            }
        }
        &.is-seats {
            color: $semantic-color-negative;
        }
        &.is-airline {
            padding-right: 10px;
        }
        &.is-label-10 {
            &:after {
                content: "-10%";
                margin-left: 5px;
                padding: 2px 5px;
                border-radius: 4px;
                font-weight: 700;
                color: $mono-color-09;
                background: $custom-color-09;
            }
        }
        &.is-label-20 {
            &:after {
                content: "-20%";
                margin-left: 5px;
                padding: 2px 5px;
                border-radius: 4px;
                font-weight: 700;
                color: $mono-color-09;
                background: $custom-color-09;
            }
        }
    }
}
