// Btn Box Continue
.cherry-btn-box-continue {
    border-top: 1px solid $mono-color-07;
    &.no-border {
        border-top: none;
    }
    .cherry-btn-box-continue--content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;
    }
    .cherry-btn-box-continue--left {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;
    }
    .cherry-btn-box-continue--right {
        display: flex;
        flex-flow: row wrap;
        justify-content: left;
        align-items: center;
        &.is-line-through {
            color: $mono-color-03;
            text-decoration: line-through;
        }
    }
    .cherry-btn-box-continue--btn {
        margin-top: 10px;
    }
    .cherry-btn-box-continue--ribbon {
        margin-left: 5px;
        padding: 2px 5px;
        border-radius: 4px;
        font-weight: 700;
        color: $mono-color-09;
        background: $custom-color-09;
    }
}
