// Btn Box Add
.cherry-btn-box-add {
    border-top: 1px solid $mono-color-07;
    .cherry-btn-box-add--content {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        padding: 5px;
        &.is-tiny {
            display: block;
            .cherry-btn-box-add--btn {
                margin-top: 10px;
            }
        }
    }
    .cherry-btn-box-add--left {
        .cherry-btn-box-add--price {
            display: flex;
            flex-flow: row wrap;
            justify-content: left;
            align-items: center;

        }
    }
    .cherry-btn-box-add--ribbon {
        margin-left: 5px;
        padding: 2px 5px;
        border-radius: 4px;
        font-weight: 700;
        color: $mono-color-09;
        background: $custom-color-09;
    }
}
