<template>
    <div class="cherry-btn-box-add">
        
            <div class="odf-box-content">
                <div class="cherry-btn-box-add--content" :class="{ 'is-tiny': item.grid === 6 }">

                    <!-- Slot!!! -->
                    <slot></slot>

                    <div class="cherry-btn-box-add--btn">
                        <!-- Item NO Añadido y SIN opciones -->
                        <button v-if="!item.added && !item.options.available" @click="adding(item)" type="button" :class="{ 'odf-btn-block': item.grid === 6 }" class="odf-btn odf-btn-primary">
                            <i class="odf-icon odf-icon-plus odf-icon-left"></i>Añadir
                        </button>
                        <!-- Item NO Añadido y CON opciones -->
                        <button v-else-if="!item.added && item.options.available" @click="showing" type="button" :class="{ 'odf-btn-block': item.grid === 6 }" class="odf-btn odf-btn-primary">
                            Ver opciones
                        </button>
                        <!-- Item Añadido -->
                        <button v-else @click="removing(item)" type="button" :class="{ 'odf-btn-block': item.grid === 6 }" class="odf-btn odf-btn-secondary">
                            <i class="odf-icon odf-icon-tick odf-icon-left"></i>Añadido
                        </button>
                    </div>
                </div>
            </div>

    </div>
</template>

<script>
    export default {
        props: ['item'],
        methods: {
            showing() {
                this.$emit('show')
            },
            adding(elem) {
                this.$store.commit('add', elem)
            },
            removing(elem) {
                this.$store.commit('remove', elem)
            }
        }
    }
</script>
