// Ancillary
.cherry-ancillary-box {
    .cherry-ancillary--header {
        margin-bottom: 20px;
    }

    .cherry-ancillary--content {}
    .cherry-ancillary--link {}
}

// Ancillary added
.cherry-ancillary-box--added {
    border: 2px solid $semantic-color-positive;
    position: relative;
    .cherry-ancillary-box-added--ribbon {
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        text-align: center;
        background: transparent url('./assets/images/ancillaries/bg_added.png') no-repeat center center;
        i {
            position: absolute;
            right: 5px;
            top: 7px;
            color: $mono-color-09;
        }
    }
    .cherry-ancillary-box-added--title {
        margin: 10px 0 5px 0;
    }
    .cherry-ancillary-box-added--content {}
    .cherry-ancillary-box-added--link {
        a {

        }
    }
}

.cherry-ancillary--image {
    width: 100%;
    height: 120px;
    background-color: rgba($custom-color-07, 0.08);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    &.is-insurance { background-image: url('./assets/images/ancillaries/travel.png') }
    &.is-delay { background-image: url('./assets/images/ancillaries/delay.png') }
    &.is-seats { background-image: url('./assets/images/ancillaries/seats.png') }
    &.is-baggage { background-image: url('./assets/images/ancillaries/baggage.png') }
    &.is-baggage-insurance { background-image: url('./assets/images/ancillaries/baggage.png') }
    &.is-flex-pax { background-image: url('./assets/images/ancillaries/pax.png') }
    &.is-flex-dates { background-image: url('./assets/images/ancillaries/dates.png') }
    &.is-mobile-notifications { background-image: url('./assets/images/ancillaries/notifications.png') }
    &.is-wifi { background-image: url('./assets/images/ancillaries/wifi.png') }
    &.is-fast-track { background-image: url('./assets/images/ancillaries/track.png') }
    &.is-transport { background-image: url('./assets/images/ancillaries/transport.png') }
    &.is-van { background-image: url('./assets/images/ancillaries/van.png') }
}

// Ancillary Options
.cherry-ancillary-box--overlay {
    position: fixed;
    z-index: 8888;
    overflow: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $mono-color-08;
    .cherry-ancillary-box--insurance {
        .cherry-insurance-box {
            .cherry-insurance-box--row {
                margin: 10px 0;
                i {
                    color: $semantic-color-positive;
                }
            }
        }
    }
    .cherry-ancillary-box--baggage {}
}

// -- Animations/Transitions
.ancillary-enter-active,
.ancillary-leave-active {
    transition: opacity .2s;
}

.ancillary-enter,
.ancillary-leave-to {
    opacity: 0;
}
