<template>
    <div class="options-insurance">
        Maletas
        <a @click="closing">Cerrar</a>
    </div>
</template>

<script>
    export default {
        methods: {
            closing() {
                this.$emit('close')
            }
        }
    }
</script>
