<template>
    <section class="cherry-ancillary-box">
        <div class="cherry-box odf-container">
            <div class="cherry-ancillary-box--added odf-box">
                <div class="cherry-ancillary-box-added--ribbon">
                    <i class="odf-icon odf-icon-tick"></i>
                </div>
                <!-- Image -->
                <div class="cherry-ancillary--image" :class="ancillaryImg"></div>
                <div class="odf-box-content">
                    <div class="odf-row-fluid">
                        <div class="odf-col">
                            <!-- Title -->
                            <div class="cherry-ancillary-box-added--title odf-strong">
                                ¡Añadido!
                            </div>
                        </div>
                    </div>
                    <div class="odf-row-fluid">
                        <div class="odf-col">
                            <!-- Content -->
                            <div class="cherry-ancillary-box-added--content">
                                1x {{ ancillary.title }}
                            </div>
                        </div>
                    </div>
                    <div class="odf-row-fluid">
                        <div class="odf-col">
                            <!-- Link -->
                            <div class="cherry-ancillary-box-added--link cherry-link odf-link-sm">
                                <a @click="removing(ancillary)">Quitar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        props: ['ancillary'],
        methods: {
            removing(elem) {
                this.$store.commit('remove', elem)
            }
        },
        computed: {
            ancillaryImg() {
                return 'is-' + this.ancillary.name
            }
        }
    }
</script>
