<template>
    <section class="cherry-ancillary-box">
        <div class="cherry-box odf-container">
            <div class="odf-box odf-box-primary">
                <!-- Image -->
                <div class="cherry-ancillary--image" :class="ancillaryImg"></div>
                <div class="odf-box-content">
                    <!-- Title -->
                    <div class="cherry-ancillary--header odf-row-fluid">
                        <div class="odf-col odf-strong" :class="{ 'odf-text-xl': ancillary.grid === 12, 'odf-text-lg': ancillary.grid === 6 }">
                            {{ ancillary.title }}
                        </div>
                    </div>
                    <!-- Content -->
                    <div class="cherry-ancillary--content odf-row-fluid">
                        <div class="odf-col">
                            <div :class="ancillary.grid === 12 ? 'odf-text-lg' : 'odf-text-md'">
                                {{ ancillary.text }}
                            </div>
                        </div>
                    </div>
                    <!-- Link -->
                    <div class="cherry-ancillary--link odf-row-fluid">
                        <div class="odf-col">
                            <div class="cherry-link odf-link-sm">
                                <a><i class="odf-icon odf-icon-filters"></i>Ver detalles</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- ··· Component / Btn Add ··· -->
                <btn-add-component
                    :item="ancillary"
                    @show="toggleItemOptions">
                    <!-- Slot -->
                    <div class="cherry-btn-box-add--left odf-text-2xl odf-strong">
                        <div v-if="ancillary.type === 'transport'" class="odf-text-xs">Por pasajero</div>
                        <div v-else class="odf-text-xs">Desde</div>
                        <div class="cherry-btn-box-add--price">
                            <div>{{ ancillary.price | localeString }}</div>€
                            <span v-show="ancillary.discount.available" class="cherry-btn-box-add--ribbon odf-text-lg">-{{ ancillary.discount.amount }}%</span>
                        </div>
                    </div>
                </btn-add-component>

                <!-- Options -->
                <transition
                    name="animate.css"
                    enter-active-class="animated slideInRight"
                    leave-active-class="animated slideOutRight"
                    mode="out-in">
                    <div v-show="ancillary.options.display" class="cherry-ancillary-box--overlay">
                        <ancillary-insurance-component
                            v-if="ancillary.name === 'insurance'"
                            :item="ancillary"
                            @close="toggleItemOptions"
                            @addOption="addItemOption">
                        </ancillary-insurance-component>
                        <ancillary-baggage-component
                            v-if="ancillary.name === 'baggage'"
                            :item="ancillary"
                            @close="toggleItemOptions"
                            @addOption="addItemOption">
                        </ancillary-baggage-component>
                    </div>
                </transition>
            </div>
        </div>
    </section>
</template>

<script>
    import btnAddComponent from '@/components/btn/btnAdd.vue'
    import ancillaryBaggageComponent from '@/components/ancillary/ancillaryBaggage.vue'
    import ancillaryInsuranceComponent from '@/components/ancillary/ancillaryInsurance.vue'
    export default {
        props: ['ancillary'],
        components: {
            btnAddComponent,
            ancillaryBaggageComponent,
            ancillaryInsuranceComponent
        },
        filters: {
            localeString(elem) {
                let itemParsed = Math.floor(elem * 100) / 100;
                return itemParsed.toLocaleString('es');
            }
        },
        methods: {
            addItemOption() {
                this.ancillary.options.display = !this.ancillary.options.display
                setTimeout(() => {
                    this.ancillary.added = true
                }, 1000)
            },
            toggleItemOptions() {
                this.ancillary.options.display = !this.ancillary.options.display
            }
        },
        computed: {
            ancillaryImg() {
                return 'is-' + this.ancillary.name
            }
        }
    }
</script>
