<template>
    <div class="cherry-ancillary-box--insurance">

        <!-- Loading Component -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- Header -->
        <header class="cherry-header">
            <div :style="{ paddingTop: paddingTop }" class="cherry-header-top">
                <div class="odf-box-content odf-row-fluid">
                    <div class="cherry-icon odf-col">
                        <a @click="closing"><i class="odf-icon odf-icon-arrow-left"></i></a>
                    </div>
                    <div class="cherry-header-text odf-col odf-text-md odf-text-center odf-strong">
                        <div>Editar</div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Between sections -->
        <div class="cherry-btw-sections is-first odf-text-center odf-text-xl">
            <span class="odf-strong">Personaliza tu seguro</span><br />¿Cuál necesitas?
        </div>
        <!-- Content -->
        <section class="cherry-main-box cherry-insurance-box odf-box odf-box-primary">
            <div class="odf-container">
                <div class="odf-box-content">
                    <div class="cherry-top-row odf-row-fluid">
                        <div class="odf-col odf-strong">
                            <div>Seguros de viaje</div>
                        </div>
                    </div>
                    <div class="cherry-insurance-box--row odf-row-fluid">
                        <div class="odf-col odf-col-span8"></div>
                        <div class="odf-col odf-col-span2 odf-strong">Básico</div>
                        <div class="odf-col odf-col-span2 odf-strong">PRO+</div>
                    </div>
                    <div class="cherry-insurance-box--row odf-row-fluid">
                        <div class="odf-col odf-col-span8">Reembolso por cualquier motivo válido</div>
                        <div class="odf-col odf-col-span2 odf-text-center"><i class="odf-icon odf-icon-tick"></i></div>
                        <div class="odf-col odf-col-span2 odf-text-center"><i class="odf-icon odf-icon-tick"></i></div>
                    </div>
                    <div class="cherry-insurance-box--row odf-row-fluid">
                        <div class="odf-col odf-col-span8">Retraso o pérdida del vuelo</div>
                        <div class="odf-col odf-col-span2 odf-text-center"><i class="odf-icon odf-icon-tick"></i></div>
                        <div class="odf-col odf-col-span2 odf-text-center"><i class="odf-icon odf-icon-tick"></i></div>
                    </div>
                    <div class="cherry-insurance-box--row odf-row-fluid">
                        <div class="odf-col odf-col-span8">Incidencias con el equipaje</div>
                        <div class="odf-col odf-col-span2 odf-text-center">...</div>
                        <div class="odf-col odf-col-span2 odf-text-center"><i class="odf-icon odf-icon-tick"></i></div>
                    </div>
                    <div class="cherry-insurance-box--row odf-row-fluid">
                        <div class="odf-col odf-col-span8">Repatriación</div>
                        <div class="odf-col odf-col-span2 odf-text-center">...</div>
                        <div class="odf-col odf-col-span2 odf-text-center"><i class="odf-icon odf-icon-tick"></i></div>
                    </div>
                    <div class="cherry-insurance-box--row odf-row-fluid">
                        <div class="odf-col odf-col-span8">Gastos médicos</div>
                        <div class="odf-col odf-col-span2 odf-text-center">...</div>
                        <div class="odf-col odf-col-span2 odf-text-center"><i class="odf-icon odf-icon-tick"></i></div>
                    </div>
                </div>
            </div>

            <!-- Button Box Add -->
            <btn-add-component :item="item" @show="adding">
                <!-- Slot -->
                <div class="cherry-btn-box-add--left odf-text-2xl odf-strong">
                    <div class="odf-text-lg odf-strong">PRO+ <span class="odf-p">(46,99€/<span class="odf-text-xs">pasajero</span>)</span></div>
                    <div class="cherry-btn-box-add--price">
                        <div class="cherry-link cherry-ancillary-box-insurance--link odf-link-sm">
                            <a>Ver detalles</a>
                        </div>
                    </div>
                </div>
            </btn-add-component>
            <btn-add-component :item="item" @show="adding">
                <!-- Slot -->
                <div class="cherry-btn-box-add--left odf-text-2xl odf-strong">
                    <div class="odf-text-lg odf-strong">Básico <span class="odf-p">(25,99€/<span class="odf-text-xs">pasajero</span>)</span></div>
                    <div class="cherry-btn-box-add--price">
                        <div class="cherry-link cherry-ancillary-box-insurance--link odf-link-sm">
                            <a>Ver detalles</a>
                        </div>
                    </div>
                </div>
            </btn-add-component>

        </section>

    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import btnAddComponent from '@/components/btn/btnAdd.vue'
    import { mapState } from 'vuex'
    export default {
        props: ['item'],
        components: {
            loadingComponent,
            btnAddComponent
        },
        data() {
            return {
                paddingTop: '10px'
            }
        },
        methods: {
            closing() {
                this.$emit('close')
            },
            adding() {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$emit('addOption')
                }, 2000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            })
        }
    }
</script>
