// Results Page
.cherry-results-page {
    .cherry-filters {
        background: $mono-color-09;
        box-shadow: 0 0 3px 0 rgba($mono-color-01, .5);
        border-top: 1px solid $mono-color-06;
        z-index: 8888;
        /* The sticky */
        position: sticky;
        top: 0;
        margin-bottom: 10px;
        .cherry-filters-nav {
            background-color: $mono-color-09;
            padding: 0 10px;
            overflow: auto;
            display: flex;
            flex-flow: row nowrap;
            align-items: center;
            li {
                border-right: 1px solid $mono-color-06;
                &.is-icon {
                    border-right: 0;
                }
                &:last-child {
                    border-right: 0;
                }
                i {
                    font-size: 21px;
                    text-align: center;
                    width: 30px;
                    height: 30px;
                    margin: 10px 0;
                    box-sizing: content-box;
                    border-radius: 100%;
                    background: $focal-point-color;
                    color: $mono-color-09;
                    &:before {
                        position: relative;
                        top: 2px;
                    }
                }
                a {
                    display: block;
                    color: $mono-color-02;
                    text-align: center;
                    padding: 0 20px;
                    text-decoration: none;
                }
            }
        }
    }
    .cherry-seats-row {
        margin-top: -20px;
        margin-bottom: 20px;
        .cherry-seats-text {
            color: $semantic-color-negative;
        }
        .cherry-cancel-text {
            color: $mono-color-04;
            span {
                color: $semantic-color-positive;
            }
        }
    }
    .cherry-results-segments {
        padding: 5px;
        .cherry-segment-title {
            padding-bottom: 5px;
            border-bottom: 1px solid $mono-color-07;
            .cherry-title {
                color: $mono-color-03;
                &.is-title {
                    text-transform: uppercase;
                }
            }
            .cherry-airline-box {
                img {
                    padding-left: 5px;
                }
            }
        }
        .cherry-segment-box {
            .cherry-line {
                display: block;
                border-top: 1px solid $mono-color-07;
                margin-right: -20px;
                margin-left: 30px;
            }
            &.is-first {
                .cherry-line {
                    display: none;
                }
            }
        }
        .odf-selectable {
            label {
                @extend .clearfix;
                .odf-selectable-back {
                    float: left;
                    margin-top: 5px;
                    padding: 0;
                    .odf-radio-fill {
                        width: 20px;
                        height: 20px;
                        border: 1px solid $primary-brand-color-dark;
                        .odf-icon {
                            color: white;
                            margin-top: 9px;
                        }
                    }
                }
                .cherry-segment-content {
                    float: left;
                    .cherry-segment-hours {
                        color: $mono-color-01;
                    }
                    .cherry-segment-cities {
                        margin: 5px 0;
                    }
                    .cherry-segment-time {
                        margin: 5px 0;
                    }
                    .cherry-segment-extras {
                        @extend .clearfix;
                        margin: 5px 0;
                        ul {
                            float: left;
                            li {
                                float: left;
                                color: $mono-color-04;
                                padding-right: 2px;
                                &:last-child {
                                    border-right: 1px solid $mono-color-07;
                                    padding-right: 5px;
                                }
                            }
                        }
                        .cherry-segment-bag {
                            float: left;
                            padding-left: 5px;
                            i {
                                color: $mono-color-04;
                            }
                            &.is-checked-bag {
                                color: $semantic-color-positive;
                                i {
                                    color: $semantic-color-positive;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .odf-box-primary {
        &.is-alvar {
            border-top: 4px solid #198CFB;
            .is-content {
                padding: 15px;
            }
            .alvar-tip {
                color: #198CFB;
                text-transform: uppercase;
            }
        }
    }
}

.btn-alvar {
    color: #1E44D5;
    border-style: solid;
    border-color: #1E44D5;
    box-shadow: none;
    background: #FFF;
}
