<template>
    <div class="cherry-results-page">

        <!-- Loading Component -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- Header Component -->
        <header-component></header-component>

        <!-- Filters -->
        <section class="cherry-filters">
            <ul class="cherry-filters-nav">
                <li class="is-icon"><i class="odf-icon odf-icon-filters-big"></i></li>
                <li><a class="odf-text-md odf-strong">Horarios</a></li>
                <li><a class="odf-text-md odf-strong">Escalas</a></li>
                <li><a class="odf-text-md odf-strong">Aeropuertos</a></li>
                <li><a class="odf-text-md odf-strong">Compañías</a></li>
                <li><a class="odf-text-md odf-strong">Pago</a></li>
            </ul>
        </section>

        <!-- Results -->
        <section v-for="(flight, index) in results" :class="{ 'is-first': index === 0 }" class="cherry-main-box odf-box odf-box-primary">
            <div class="odf-container">
                <div class="odf-box-content">
                <!-- Top Row -->
                <div class="cherry-top-row odf-row-fluid">
                    <div class="odf-col odf-col-span6 odf-h1 odf-strong">
                        <div :class="{ 'is-seats': flight.seats }" class="cherry-title">{{ flight.price }}€</div>
                    </div>
                    <div class="odf-col odf-col-span6 odf-col-bottom odf-text-xs odf-text-right">
                        <div class="cherry-title is-right">Viaje por pasajero</div>
                    </div>
                </div>
                <!-- Seats Module (Only showed when Seats is true) -->
                <div v-if="flight.seats" class="cherry-seats-row odf-row-fluid">
                    <div class="odf-col odf-col-span12 odf-text-md">
                        <div class="cherry-title cherry-seats-text odf-strong">4 seats left at this price</div>
                        <div class="cherry-title cherry-cancel-text"><span class="odf-strong">Free cancellation</span> in the next 2h</div>
                    </div>
                </div>
                <!-- Results Segments -->
                <div class="cherry-results-segments">
                    <!-- Departure Title -->
                    <div class="cherry-segment-title odf-row-fluid odf-row-nogutter odf-text-sm">
                        <div class="odf-col odf-col-span6 odf-strong">
                            <div class="cherry-title is-title">Ida</div>
                        </div>
                        <div class="odf-col odf-col-span6 odf-text-right">
                            <div class="cherry-airline-box odf-row-nogutter odf-row-fluid">
                                <div class="odf-col">
                                    <div class="cherry-title is-airline">{{ flight.depCompany }}</div>
                                </div>
                                <div class="odf-col odf-col-sm">
                                    <img src="../../assets/images/summary/iberia.gif">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Departure Rendering -->
                    <div v-for="(dep, index) in flight.depSegments" :class="{ 'is-first': index === 0 }" class="cherry-segment-box odf-row-fluid">
                        <span class="cherry-line"></span>
                        <div class="odf-col-span12">
                            <!-- Departure Selection -->
                            <div class="odf-selectable">
                                <input :id="dep.id" :name="dep.name" value="" type="radio" class="odf-selectable-native"/>
                                <label :for="dep.id" class="odf-selectable-label">
                                    <!-- Radio Input -->
                                    <span class="odf-selectable-back odf-radio-back">
                                        <span class="odf-selectable-fill odf-radio-fill"><span class="odf-icon odf-icon-tick"></span></span>
                                    </span>
                                    <!-- Segment "Content" -->
                                    <div class="cherry-segment-content">
                                        <div class="cherry-segment-hours odf-text-xl odf-strong">
                                            {{ dep.depHour }} - {{ dep.arrHour }} <!-- <sup class="odf-text-xs">+1 day</sup> -->
                                        </div>
                                        <div class="cherry-segment-cities">{{ flight.depIata }} - {{ flight.arrIata }}</div>
                                        <div class="cherry-segment-time">{{ dep.time }}</div>
                                        <div class="cherry-segment-extras">
                                            <ul>
                                                <li><i class="odf-icon odf-icon-wifi"></i></li>
                                                <li><i class="odf-icon odf-icon-power"></i></li>
                                                <li><i class="odf-icon odf-icon-fork-knife"></i></li>
                                                <li><i class="odf-icon odf-icon-entertainment"></i></li>
                                            </ul>
                                            <div v-if="dep.checkedBag" class="cherry-segment-bag is-checked-bag">
                                                <i class="odf-icon odf-icon-baggage"></i> Maleta fac. incl.
                                            </div>
                                            <div v-else class="cherry-segment-bag">
                                                <i class="odf-icon odf-icon-baggage"></i> Maleta de mano incl.
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                    <!-- Return Title-->
                    <div class="cherry-segment-title odf-row-fluid odf-row-nogutter odf-text-sm">
                        <div class="odf-col odf-col-span6 odf-strong">
                            <div class="cherry-title is-title">Vuelta</div>
                        </div>
                        <div class="odf-col odf-col-span6 odf-text-right">
                            <div class="cherry-airline-box odf-row-nogutter odf-row-fluid">
                                <div class="odf-col">
                                    <div class="cherry-title is-airline">{{ flight.depCompany }}</div>
                                </div>
                                <div class="odf-col odf-col-sm">
                                    <img src="../../assets/images/summary/iberia.gif">
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Return Rendering -->
                    <div v-for="(ret, index) in flight.retSegments" :class="{ 'is-first': index === 0 }" class="cherry-segment-box odf-row-fluid">
                        <span class="cherry-line"></span>
                        <div class="odf-col-span12">
                            <!-- Return Selection -->
                            <div class="odf-selectable">
                                <input :id="ret.id" :name="ret.name" type="radio" class="odf-selectable-native"/>
                                <label :for="ret.id" class="odf-selectable-label">
                                    <!-- Radio Input -->
                                    <span class="odf-selectable-back odf-radio-back">
                                        <span class="odf-selectable-fill odf-radio-fill"><span class="odf-icon odf-icon-tick"></span></span>
                                    </span>
                                    <!-- Segment "Content" -->
                                    <div class="cherry-segment-content">
                                        <div class="cherry-segment-hours odf-text-xl odf-strong">
                                            {{ ret.depHour }} - {{ ret.arrHour }} <!-- <sup class="odf-text-xs">+1 day</sup> -->
                                        </div>
                                        <div class="cherry-segment-cities">{{ flight.arrIata }} - {{ flight.depIata }}</div>
                                        <div class="cherry-segment-time">{{ ret.time }}</div>
                                        <div class="cherry-segment-extras">
                                            <ul>
                                                <li><i class="odf-icon odf-icon-wifi"></i></li>
                                                <li><i class="odf-icon odf-icon-power"></i></li>
                                                <li><i class="odf-icon odf-icon-fork-knife"></i></li>
                                                <li><i class="odf-icon odf-icon-entertainment"></i></li>
                                            </ul>
                                            <div v-if="ret.checkedBag" class="cherry-segment-bag is-checked-bag">
                                                <i class="odf-icon odf-icon-baggage"></i> Maleta fac. incl.
                                            </div>
                                            <div v-else class="cherry-segment-bag">
                                                <i class="odf-icon odf-icon-baggage"></i> Maleta de mano incl.
                                            </div>
                                        </div>
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            <!-- Button -->
            <div class="odf-container">
                <div class="odf-box-content">
                    <button @click="goToNext" class="odf-btn odf-btn-primary odf-btn-block">Seleccionar vuelo</button>
                </div>
            </div>
        </section>

        <!-- Footer Component -->
        <footer-component></footer-component>

    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import headerComponent from '@/components/header/header.vue'
    import footerComponent from '@/components/footer/footer.vue'
    import { mapState } from 'vuex'
    export default {
        components: {
            loadingComponent,
            headerComponent,
            footerComponent
        },
        data() {
            return {
                results: [
                    {
                        id: 1,
                        price: 418,
                        seats: false,
                        checkedBag: false,
                        depIata: 'BCN',
                        depCity: 'Barcelona',
                        arrIata: 'NYC',
                        arrCity: 'Nueva York',
                        depCompany: 'Norwegian',
                        retCompany: 'Norwegian',
                        depSegments: [
                            {
                                id: 'dep1-1',
                                name: 'depName1-1',
                                time: '8h 40min',
                                depHour: '18:20',
                                arrHour: '21:00',
                                checkedBag: false
                            }
                        ],
                        retSegments: [
                            {
                                id: 'ret1-1',
                                name: 'retName1-1',
                                time: '07h 15min',
                                depHour: '23:15',
                                arrHour: '12:15',
                                checkedBag: false
                            }
                        ]
                    },
                    {
                        id: 2,
                        price: 130,
                        seats: false,
                        checkedBag: false,
                        depIata: 'BCN',
                        depCity: 'Barcelona',
                        arrIata: 'IBZ',
                        arrCity: 'Ibiza',
                        depName: 'Departure',
                        retName: 'Return',
                        depCompany: 'Iberia',
                        retCompany: 'Iberia',
                        depSegments: [
                            {
                                id: 'dep2-1',
                                name: 'depName2-1',
                                time: '01h 15min',
                                depHour: '15:05',
                                arrHour: '16:20',
                                checkedBag: false
                            }
                        ],
                        retSegments: [
                            {
                                id: 'ret2-1',
                                name: 'retName2-1',
                                time: '01h 25min',
                                depHour: '15:05',
                                arrHour: '16:30',
                                checkedBag: false
                            },
                            {
                                id: 'ret2-2',
                                name: 'retName2-1',
                                time: '01h 15min',
                                depHour: '17:20',
                                arrHour: '18:35',
                                checkedBag: false
                            }
                        ]
                    },
                    {
                        id: 3,
                        price: 130,
                        seats: false,
                        checkedBag: false,
                        depIata: 'BCN',
                        depCity: 'Barcelona',
                        arrIata: 'IBZ',
                        arrCity: 'Ibiza',
                        depCompany: 'Iberia',
                        retCompany: 'Iberia',
                        depSegments: [
                            {
                                id: 'dep3-1',
                                name: 'depName3-1',
                                time: '1h 15min',
                                depHour: '20:45',
                                arrHour: '22:00',
                                checkedBag: false
                            },
                            {
                                id: 'dep3-2',
                                name: 'depName3-1',
                                time: '1h 15min',
                                depHour: '22:00',
                                arrHour: '23:15',
                                checkedBag: false
                            }
                        ],
                        retSegments: [
                            {
                                id: 'ret3-1',
                                name: 'retName3-1',
                                time: '01h 15min',
                                depHour: '21:05',
                                arrHour: '22:20',
                                checkedBag: false
                            },
                            {
                                id: 'ret3-2',
                                name: 'retName3-1',
                                time: '01h 20min',
                                depHour: '21:05',
                                arrHour: '22:25',
                                checkedBag: false
                            }
                        ]
                    },
                    {
                        id: 4,
                        price: 132,
                        seats: false,
                        depIata: 'BCN',
                        depCity: 'Barcelona',
                        arrIata: 'IBZ',
                        arrCity: 'Ibiza',
                        depCompany: 'Iberia',
                        retCompany: 'Iberia',
                        depSegments: [
                            {
                                id: 'dep4-1',
                                name: 'depName4-1',
                                time: '1h 15min',
                                depHour: '21:00',
                                arrHour: '22:15',
                                checkedBag: false
                            },
                            {
                                id: 'dep4-2',
                                name: 'depName4-1',
                                time: '1h 15min',
                                depHour: '21:05',
                                arrHour: '22:20',
                                checkedBag: true
                            }
                        ],
                        retSegments: [
                            {
                                id: 'ret4-1',
                                name: 'retName4-1',
                                time: '01h 15min',
                                depHour: '19:05',
                                arrHour: '20:20',
                                checkedBag: true
                            }
                        ]
                    }
                ]
            }
        },
        methods: {
            goToNext(elem) {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/summary');
                }, 4000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            })
        }
    }
</script>
