//Pax Page
.cherry-pax-page,
.cherry-auth-page {
    .cherry-auth--logo {
        margin: 50px;
        text-align: center;
    }
    .cherry-input--box {
        margin-top: 20px;
        position: relative;
        &.has-error {
            input {
                border-bottom-color: $semantic-color-negative;
            }
            input:focus {
                border-bottom-color: $semantic-color-negative;
            }
            .is-danger {
                position: relative;
                bottom: 20px;
                color: $semantic-color-negative;
            }
        }
        input,
        select {
            background: $mono-color-09;
            color: $mono-color-02;
            border: none;
            border-bottom: 1px solid $mono-color-06;
            border-radius: 0;
            -webkit-appearance: none;
            outline: none;
            height: 48px;
            width: 100%;
            margin: 0 0 20px 0;
            padding: 0;
            box-sizing: content-box;
            transition: all 0.3s;
            &:after {
                display: block;
                content: "";
                position: absolute;
                top: 60px;
                opacity: 0;
                transition: .2s opacity ease-out, .2s color ease-out;
            }
        }
        label {
            color: $mono-color-02;
            position: absolute;
            top: 0.8rem;
            font-size: 1rem;
            cursor: text;
            transition: .2s ease-out;
        }
        input:focus {
            border-bottom-color: $primary-brand-color;
        }
        input:focus + label {
            color: $primary-brand-color;
            font-size: 0.8rem;
            transform: translateY(-140%);
        }
        label.is-active {
            color: $primary-brand-color;
            font-size: 0.8rem;
            transform: translateY(-140%);
        }
    }
}
