<template>
    <div class="cherry-pax-page">

        <!-- ··· Component / Loading ··· -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- ··· Component / Header ··· -->
        <header-component>
            <div class="cherry-steps">
                <ul>
                    <li><div class="cherry-step-circle is-highlighted">1</div></li>
                    <li><div class="cherry-step-circle">2</div></li>
                    <li><div class="cherry-step-circle">3</div></li>
                </ul>
            </div>
        </header-component>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component class="is-first">
            <span class="odf-strong">Detalles de los pasajeros</span><br />¿Quién viaja?
        </between-box-component>

        <form @submit.prevent="goToNext" novalidate>
            <!-- Passenger 1 -->
            <div class="cherry-box odf-container">
                <div class="odf-box odf-box-primary">
                    <div class="odf-box-content">
                        <div class="cherry-row-header odf-row-fluid">
                            <div class="odf-col odf-strong">Pasajero 1: {{ pname }} {{ pcogname }}</div>
                        </div>
                        <!-- Gender -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('pgender') }">
                                    <select
                                        id="pgender"
                                        class="odf-text-lg"
                                        name="pgender"
                                        v-model="pgender"
                                        v-validate="'required'"
                                    >
                                        <option disabled value="">Tratamiento</option>
                                        <option value="1">Sr.</option>
                                        <option value="2">Sra.</option>
                                        <option value="4">Srta.</option>
                                    </select>
                                    <span v-show="errors.has('pgender')" class="help is-danger odf-text-sm">
                                        {{ errors.first('pgender') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Name -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('pname') }">
                                    <input
                                        id="pname"
                                        class="odf-text-md"
                                        type="text"
                                        name="pname"
                                        v-model="pname"
                                        v-validate="'required'"
                                    >
                                    <label for="pname" :class="{ 'is-active': this.pname != '' }" class="odf-text-md">Nombre (ej. Alex)</label>
                                    <span v-show="errors.has('pname')" class="help is-danger odf-text-sm">
                                        {{ errors.first('pname') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Cogname -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('pcogname') }">
                                    <input
                                        id="pcogname"
                                        class="odf-text-md"
                                        type="text"
                                        name="pcogname"
                                        v-model="pcogname"
                                        v-validate="'required'"
                                    >
                                    <label for="pcogname" :class="{ 'is-active': this.pcogname != '' }" class="odf-text-md">Apellido (ej. Cerezo)</label>
                                    <span v-show="errors.has('pcogname')" class="help is-danger odf-text-sm">
                                        {{ errors.first('pcogname') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Buyer -->
            <div class="cherry-box odf-container">
                <div class="odf-box odf-box-primary">
                    <div class="odf-box-content">
                        <div class="cherry-row-header odf-row-fluid">
                            <div class="odf-col odf-strong">Datos del comprador</div>
                        </div>
                        <!-- Email -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('bemail') }">
                                    <input
                                        id="bemail"
                                        class="odf-text-md"
                                        type="email"
                                        name="bemail"
                                        v-model="bemail"
                                        v-validate="'required|email|confirmed:bcemail'"
                                    >
                                    <label for="bemail" :class="{ 'is-active': this.bemail != '' }" class="odf-text-md">E-mail</label>
                                    <span v-show="errors.has('bemail')" class="help is-danger odf-text-sm">
                                        {{ errors.first('bemail') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Confirm Email -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('bcemail') }">
                                    <input
                                        id="bcemail"
                                        class="odf-text-md"
                                        type="email"
                                        name="bcemail"
                                        v-model="bcemail"
                                        v-validate="'required|email'"
                                    >
                                    <label for="bcemail" :class="{ 'is-active': this.bcemail != '' }" class="odf-text-md">Confirmar E-mail</label>
                                    <span v-show="errors.has('bcemail')" class="help is-danger odf-text-sm">
                                        {{ errors.first('bcemail') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Password -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box">
                                    <input
                                        id="bpass"
                                        class="odf-text-md"
                                        type="password"
                                        name="bpass"
                                        v-model="bpass"
                                    >
                                    <label for="bpass" :class="{ 'is-active': this.bpass != '' }" class="odf-text-md">Contraseña (Opcional)</label>
                                </div>
                            </div>
                        </div>
                        <!-- Address -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('baddress') }">
                                    <input
                                        id="baddress"
                                        class="odf-text-md"
                                        type="text"
                                        name="baddress"
                                        v-model="baddress"
                                        v-validate="'required'"
                                    >
                                    <label for="baddress" :class="{ 'is-active': this.baddress != '' }" class="odf-text-md">Dirección</label>
                                    <span v-show="errors.has('baddress')" class="help is-danger odf-text-sm">
                                        {{ errors.first('baddress') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- City -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('bcity') }">
                                    <input
                                        id="bcity"
                                        class="odf-text-md"
                                        type="text"
                                        name="bcity"
                                        v-model="bcity"
                                        v-validate="'required'"
                                    >
                                    <label for="bcity" :class="{ 'is-active': this.bcity != '' }" class="odf-text-md">Ciudad</label>
                                    <span v-show="errors.has('bcity')" class="help is-danger odf-text-sm">
                                        {{ errors.first('bcity') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Country -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('bcountry') }">
                                    <select
                                        id="bcountry"
                                        class="odf-text-lg"
                                        name="bcountry"
                                        v-model="bcountry"
                                        v-validate="'required'"
                                    >
                                        <option disabled value="">Selecciona un país</option>
                                        <option value="1">España</option>
                                        <option value="2">Estados Unidos</option>
                                        <option value="3">Japón</option>
                                        <option value="4">Italia</option>
                                        <option value="5">Alemania</option>
                                    </select>
                                    <span v-show="errors.has('bcountry')" class="help is-danger odf-text-sm">
                                        {{ errors.first('bcountry') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Postal Code -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('bpostalcode') }">
                                    <input
                                        id="bpostalcode"
                                        class="odf-text-md"
                                        type="text"
                                        name="bpostalcode"
                                        v-model="bpostalcode"
                                        v-validate="'required|digits:5'"
                                    >
                                    <label for="bpostalcode" :class="{ 'is-active': this.bpostalcode != '' }" class="odf-text-md">Código Postal</label>
                                    <span v-show="errors.has('bpostalcode')" class="help is-danger odf-text-sm">
                                        {{ errors.first('bpostalcode') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Prefixe -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('bprefixe') }">
                                    <select
                                        id="bprefixe"
                                        class="odf-text-lg"
                                        name="bprefixe"
                                        v-model="bprefixe"
                                        v-validate="'required'"
                                    >
                                        <option disabled value="">Selecciona un prefijo</option>
                                        <option value="1">España (+34)</option>
                                        <option value="2">Estados Unidos (+1)</option>
                                        <option value="3">Japón (+81)</option>
                                        <option value="4">Italia (+39)</option>
                                        <option value="5">Alemania (+49)</option>
                                    </select>
                                    <span v-show="errors.has('bprefixe')" class="help is-danger odf-text-sm">
                                        {{ errors.first('bprefixe') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Phone -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('bphone') }">
                                    <input
                                        id="bphone"
                                        class="odf-text-md"
                                        type="text"
                                        name="bphone"
                                        v-model="bphone"
                                        v-validate="'required|digits:9'"
                                    >
                                    <label for="bphone" :class="{ 'is-active': this.bphone != '' }" class="odf-text-md">Número de teléfono</label>
                                    <span v-show="errors.has('bphone')" class="help is-danger odf-text-sm">
                                        {{ errors.first('bphone') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <!-- Ancillary -->
            <div v-show="$route.path === '/pax/wo-combo'" class="odf-row-float odf-row-nogutter">
                <div v-for="anc in ancillaries" v-if="anc.views.pax" class="odf-col odf-col-span12">
                    <transition
                        name="animate.css"
                        enter-active-class="animated bounceIn"
                        leave-active-class="animated bounceOut"
                        :duration="600"
                        mode="out-in">
                        <!-- ··· Component / Ancillary ··· -->
                        <ancillary-component v-if="!anc.added" :ancillary="anc"></ancillary-component>
                        <!-- ··· Component / Ancillary Added ··· -->
                        <ancillary-added-component v-else :ancillary="anc"></ancillary-added-component>
                    </transition>
                </div>
            </div>




            <!-- Save info -->
            <!-- <section class="cherry-main-box odf-box odf-box-primary">
                <div class="odf-container">
                    <div class="odf-box-content">
                        <div class="odf-row-fluid">
                            <div class="odf-col odf-col-span12">
                                <div class="odf-selectable">
                                    <input id="cherry-passengers-save" name="checkbox" type="checkbox" class="odf-selectable-native"/>
                                    <label for="cherry-passengers-save" class="odf-selectable-label">
                                        <span class="odf-selectable-back odf-checkbox-back">
                                            <span class="odf-selectable-fill odf-checkbox-fill"><span class="odf-icon odf-icon-tick"></span></span>
                                        </span>
                                        Guarda la información del viajero y los datos de contacto para agilizar el pago.
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section> -->




            <!-- ··· Component / Price Break ··· -->
            <price-break-component>
                <div class="cherry-seats-animation">
                    <div class="cherry-anima">
                        <div class="cherry-anima-content"></div>
                    </div>
                    <div class="cherry-seats-left odf-row-fluid">
                        <div class="odf-col odf-col-sm">
                            <div><i class="odf-icon odf-icon-seat"></i></div>
                        </div>
                        <div class="odf-col odf-col-span12 odf-text-md">
                            ¡<span class="odf-strong">Quedan menos de 4 asientos</span> a este precio para este viaje
                        </div>
                    </div>
                </div>
            </price-break-component>




            <!-- Button -->
            <div class="odf-container">
                <div class="odf-box-content">
                    <button type="submit" class="odf-btn odf-btn-primary odf-btn-block">Continúa</button>
                </div>
            </div>




        </form>

        <!-- ··· Component / Footer ··· -->
        <footer-component></footer-component>

    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import headerComponent from '@/components/header/header.vue'
    import footerComponent from '@/components/footer/footer.vue'
    import betweenBoxComponent from '@/components/between-box/betweenBox.vue'
    import ancillaryComponent from '@/components/ancillary/ancillary.vue'
    import ancillaryAddedComponent from '@/components/ancillary/ancillaryAdded.vue'
    import priceBreakComponent from '@/components/price-break/priceBreak.vue'
    import { mapState } from 'vuex'
    import { mapGetters } from 'vuex'
    export default {
        components: {
            loadingComponent,
            headerComponent,
            footerComponent,
            betweenBoxComponent,
            ancillaryComponent,
            ancillaryAddedComponent,
            priceBreakComponent
        },
        data() {
            return {
                routeState: this.$route.params.state,
                pgender: '',
                pname: '',
                pcogname: '',
                bemail: '',
                bcemail: '',
                bpass: '',
                baddress: '',
                bcity: '',
                bcountry: '',
                bpostalcode: '',
                bprefixe: '',
                bphone: ''
            }
        },
        methods: {
            validate() {
                this.$validator.validateAll();
                return this.errors.any();
            },
            goToNext(elem) {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    let next = '';
                    if (this.routeState === 'wb-combo') {
                        next = '/combo/basic'
                    } else if (this.routeState === 'wf-combo') {
                        next = '/combo/full'
                    } else {
                        next = '/extras'
                    };
                    this.$store.commit('load', elem);
                    this.$router.push(next);
                }, 4000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            }),
            ...mapGetters({
                ancillaries: 'ancillaries'
            })
        }
    }
</script>
