<template>
    <header class="cherry-header">
        <div class="cherry-header-top">
            <div class="odf-box-content odf-row-fluid">
                <div class="cherry-logo odf-col odf-col-sm">
                    <router-link to="/"><img src="../../assets/images/logo_icon.svg"></router-link>
                </div>
                <div class="odf-col odf-col-span12 odf-text-ellipsis">
                    <div class="cherry-cities odf-text-md odf-strong"><a href="#">BCN-PSA</a></div>
                    <div class="cherry-info odf-text-sm odf-strong">Thu, 23/09 · Sun, 26/09 · 1<i class="odf-icon odf-icon-pax odf-text-lg"></i></div>
                </div>
                <div class="cherry-search odf-col">
                    <a href="#"><i class="odf-icon odf-icon-magnifying-glass odf-text-lg"></i></a>
                </div>
            </div>
        </div>
        <slot></slot>
    </header>
</template>
