<template>
    <section class="cherry-main-box odf-box odf-box-primary">
        <div class="odf-container">
            <div class="odf-box-content">
                <!-- Top Row -->
                <div class="cherry-top-row odf-row-fluid">
                    <div class="odf-col odf-col-span6 odf-strong">
                        <div>Desglose de precio</div>
                    </div>
                    <div class="odf-col odf-col-span6 odf-text-md odf-text-right">
                        <div class="cherry-title is-right">Tasas incluidas</div>
                    </div>
                </div>
                <!-- Seats -->
                <div class="cherry-seats-animation">
                    <div class="cherry-anima">
                        <div class="cherry-anima-content"></div>
                    </div>
                    <div class="cherry-seats-left odf-row-fluid">
                        <div class="odf-col odf-col-sm">
                            <div><i class="odf-icon odf-icon-seat"></i></div>
                        </div>
                        <div class="odf-col odf-col-span12 odf-text-md">
                            ¡<span class="odf-strong">Quedan menos de 4 asientos</span> a este precio para este viaje
                        </div>
                    </div>
                </div>
                <!-- Breakdown -->
                <app-price-break></app-price-break>
            </div>
        </div>
        <!-- Button -->
        <div class="odf-container">
            <div class="odf-box-content">
                <button @click="goToNext" class="odf-btn odf-btn-primary odf-btn-block">Continúa</button>
            </div>
        </div>
    </section>
</template>

<script>
    import appPriceBreak from '@/components/priceBreak.vue'
    export default {
        props: ['item'],
        components: {
            appPriceBreak
        },
        data() {
            return {
                showLoading: false,
            }
        },
        methods: {
            goToNext() {
                const routeName = this.$route.name;
                if(routeName == 'flights') {
                    this.$router.push('/results');
                } else if(routeName == 'results') {
                    this.$router.push('/summary');
                } else if(routeName == 'summary') {
                    this.$router.push('/pax');
                } else if(routeName == 'pax') {
                    this.$router.push('/extras');
                } else if(routeName == 'extras') {
                    this.$router.push('/pay');
                } else {
                    this.$router.push('/confirmation');
                }
            }
        }
    }
</script>
