// Price Break
.cherry-breakdown {
    padding: 10px 0;
    .cherry-breakdown--row {
        padding: 10px 0;
        border-bottom: 1px solid $mono-color-06;
        &.is-last {
            border-bottom: none;
        }
    }
    .cherry-breakdown--show {
        i {
            float: right;
        }
    }
}

.cherry-seats-animation {
    height: 60px;
    margin: 0 -10px 20px;
    color: $semantic-color-warning;
    .cherry-anima {
        width: 100%;
        position: absolute;
        overflow: hidden;
        .cherry-anima-content {
            width: 60px;
            height: 60px;
            margin: 0 auto;
            position: relative;
            border-radius: 100%;
            background: $semantic-color-warning;
            opacity: 1;
            animation: cherry-scaleout 4s infinite ease-in;
        }
    }
    .cherry-seats-left {
        position: relative;
        height: 60px;
        padding: 10px;
        border-top: 1px solid $mono-color-06;
        border-bottom: 1px solid $mono-color-06;
        i {
            font-size: 22px;
        }
    }
}

.cherry-info-box {
    margin: 0 -10px 20px;
    border-radius: 0;
    > .odf-msg {
        border-radius: 0;
    }
}

// Animations

@keyframes cherry-scaleout {
    0% {
        transform: scale(1);
        opacity: 0;
    }
    7% {
        opacity: 0.15;
    }
        23% {
        opacity: 0.15;
    }
    91% {
        transform: scale(4.5);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
