<template>
    <!-- Price Break -->
    <div class="cherry-box odf-container">
        <div class="odf-box odf-box-primary">
            <div class="odf-box-content">
                <div class="cherry-row-header odf-row-fluid">
                    <div class="odf-col odf-strong">Desglose del precio</div>
                </div>

                <!-- ··· Slot ··· -->
                <slot></slot>

                <div class="odf-row-fluid">
                    <div class="odf-col odf-text-md">Precio total</div>
                    <div class="odf-col odf-text-right odf-text-lg odf-strong">{{ this.sum | localeString }}€</div>
                </div>

                <div class="cherry-breakdown odf-row-fluid">
                    <div @click="showPrice" class="odf-col">
                        <div v-show="show">
                            <div class="cherry-breakdown--row odf-row-fluid odf-row-nogutter">
                                <div class="odf-col">
                                    <div class="odf-text-left odf-text-md">Adultos:</div>
                                </div>
                                <div class="odf-col">
                                    <div class="odf-text-right odf-text-md">{{ flight | localeString }}€</div>
                                </div>
                            </div>
                            <div class="cherry-breakdown--row odf-row-fluid odf-row-nogutter">
                                <div class="odf-col">
                                    <div class="odf-text-left odf-text-md">Gastos de gestión:</div>
                                </div>
                                <div class="odf-col">
                                    <div class="odf-text-right odf-text-md">{{ management | localeString }}€</div>
                                </div>
                            </div>
                            <div class="cherry-breakdown--row odf-row-fluid odf-row-nogutter">
                                <div class="odf-col">
                                    <div class="odf-text-left odf-text-md">Descuento eDreams:</div>
                                </div>
                                <div class="odf-col">
                                    <div class="odf-text-right odf-text-md">-{{ discount | localeString }}€</div>
                                </div>
                            </div>

                            <!-- Items Added -->
                            <div v-for="item in items" class="cherry-breakdown--row odf-row-fluid odf-row-nogutter">
                                <div class="odf-col">
                                    <div class="odf-text-left odf-text-md">{{ item.title | capital }}:</div>
                                </div>
                                <div class="odf-col">
                                    <div class="odf-text-right odf-text-md">{{ item.price | localeString }}€</div>
                                </div>
                            </div>

                            <div class="cherry-breakdown--row is-last odf-row-fluid odf-row-nogutter">
                                <div class="odf-col">
                                    <div class="odf-text-left odf-text-md">Total:</div>
                                </div>
                                <div class="odf-co">
                                    <div class="odf-text-right odf-text-lg odf-strong">{{ this.sum | localeString }}€</div>
                                </div>
                            </div>
                        </div>

                        <div class="cherry-breakdown--show odf-text-md">
                            {{ show ? msgShowed : msgHided }}<i class="odf-icon" :class="{ 'odf-icon-arrow-up': show, 'odf-icon-arrow-down': !show }"></i>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</template>

<script>
    import { mapState } from 'vuex'
    export default {
        data() {
            return {
                show: false,
                msgHided: 'Ver el desglose del precio',
                msgShowed: 'Ocultar el desglose del precio'
            }
        },
        filters: {
            localeString(elem) {
                let itemParsed = Math.floor(elem * 100) / 100;
                return itemParsed.toLocaleString('es');
            },
            capital(elem) {
                let character = elem.charAt(0);
                return character.toUpperCase() + elem.substring(1);
            }
        },
        methods: {
            showPrice() {
                this.show = !this.show;
            }
        },
        computed: {
            ...mapState({
                flight: 'flightAmount',
                management: 'managementCost',
                discount: 'discount',
                total: 'totalAmount',
                items: 'itemsAdded'
            }),
            sum() {
                return this.flight + this.total
            }
        }
    }
</script>
