<template>
    <section v-if="this.$route.path === '/combo/basic'" class="cherry-main-box cherry-combo-box odf-box">
        <!-- Header -->
        <div class="cherry-combo-box--header is-basic">
            <div class="odf-row-fluid">
                <div class="odf-col">
                    <div class="odf-container">
                        <div class="odf-box-content">
                            <div class="cherry-title">
                                Combo <span class="odf-strong">BÁSICO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="odf-container">
            <div class="odf-box-content">
                <div class="odf-row-fluid">
                    <div class="odf-col">
                        <!-- Icons -->
                        <div class="cherry-combo-box--icons">
                            <div class="cherry-combo-box--pill odf-pills odf-pills-top-arrow-center open">
                                <span class="odf-text-nowrap odf-strong">MÁS POPULAR</span>
                            </div>
                            <i class="cherry-combo-box--icon is-seats"></i>
                            <i class="cherry-combo-box--icon is-add"></i>
                            <i class="cherry-combo-box--icon is-baggage"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bundle -->
        <div class="cherry-combo-box-bundle">
            <div class="odf-container">
                <div class="odf-box-content">
                    <div class="cherry-combo-box-bundle--options">
                        <div class="cherry-combo-box-bundle--left odf-text-lg odf-strong">
                            Selección de asientos
                        </div>
                        <div class="cherry-combo-box-bundle--link cherry-link odf-link-lg odf-strong">
                            <a>Cambiar</a>
                        </div>
                    </div>
                    <div class="cherry-combo-box-bundle--content">
                        3A · 3B | 5A · 5B | 4E · 4D | 5A · 5
                    </div>
                </div>
            </div>
        </div>
        <!-- Bundle -->
        <div class="cherry-combo-box-bundle">
            <div class="odf-container">
                <div class="odf-box-content">
                    <div class="cherry-combo-box-bundle--options">
                        <div class="cherry-combo-box-bundle--left odf-text-lg odf-strong">
                            Equipaje facturado
                        </div>
                        <div class="cherry-combo-box-bundle--link cherry-link odf-link-lg odf-strong">
                            <a>Añadir más</a>
                        </div>
                    </div>
                    <div class="cherry-combo-box-bundle--content">
                        8 maletas facturadas incluídas (20kg)
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section v-else class="cherry-main-box cherry-combo-box odf-box">
        <!-- Header -->
        <div class="cherry-combo-box--header is-full">
            <div class="odf-row-fluid">
                <div class="odf-col">
                    <div class="odf-container">
                        <div class="odf-box-content">
                            <div class="cherry-title">
                                Combo <span class="odf-strong">COMPLETO</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="odf-container">
            <div class="odf-box-content">
                <div class="odf-row-fluid">
                    <div class="odf-col">
                        <!-- Icons -->
                        <div class="cherry-combo-box--icons">
                            <i class="cherry-combo-box--icon is-seats"></i>
                            <i class="cherry-combo-box--icon is-add"></i>
                            <i class="cherry-combo-box--icon is-baggage"></i>
                            <i class="cherry-combo-box--icon is-add"></i>
                            <i class="cherry-combo-box--icon is-security"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bundle -->
        <div class="cherry-combo-box-bundle">
            <div class="odf-container">
                <div class="odf-box-content">
                    <div class="cherry-combo-box-bundle--options">
                        <div class="cherry-combo-box-bundle--left odf-text-lg odf-strong">
                            Selección de asientos
                        </div>
                        <div class="cherry-combo-box-bundle--link cherry-link odf-link-lg odf-strong">
                            <a>Cambiar</a>
                        </div>
                    </div>
                    <div class="cherry-combo-box-bundle--content">
                        3A · 3B | 5A · 5B | 4E · 4D | 5A · 5
                    </div>
                </div>
            </div>
        </div>
        <!-- Bundle -->
        <div class="cherry-combo-box-bundle">
            <div class="odf-container">
                <div class="odf-box-content">
                    <div class="cherry-combo-box-bundle--options">
                        <div class="cherry-combo-box-bundle--left odf-text-lg odf-strong">
                            Equipaje facturado
                        </div>
                        <div class="cherry-combo-box-bundle--link cherry-link odf-link-lg odf-strong">
                            <a>Añadir más</a>
                        </div>
                    </div>
                    <div class="cherry-combo-box-bundle--content">
                        6 maletas facturadas incluídas (20kg)
                    </div>
                </div>
            </div>
        </div>
        <!-- Bundle -->
        <div class="cherry-combo-box-bundle">
            <div class="odf-container">
                <div class="odf-box-content">
                    <div class="cherry-combo-box-bundle--options">
                        <div class="cherry-combo-box-bundle--left odf-text-lg odf-strong">
                            Seguro de cancelación incluido
                        </div>
                    </div>
                    <div class="cherry-combo-box-bundle--content">
                        3 seguros de cancelación
                    </div>
                    <div class="cherry-combo-box-bundle--more cherry-link odf-link-sm">
                        <a>Ver condiciones</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {

    }
</script>
