<template>
    <div class="cherry-payment">

        <!-- Loading Component -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- Header Component -->
        <header-component></header-component>

        <!-- Between sections -->
        <div class="cherry-btw-sections is-first odf-text-center odf-text-xl">
            ¡Bien hecho!<br /><span class="odf-strong">Has completado tu compra</span>
        </div>
        <div class="odf-row-fluid">
            <div class="odf-col">
                <!-- Link -->
                <div class="cherry-link odf-link-sm odf-text-center">
                    <a @click="goToNext">Vuelve al inicio</a>
                </div>
            </div>
        </div>

        <!-- Footer Component -->
        <footer-component></footer-component>
    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import headerComponent from '@/components/header/header.vue'
    import footerComponent from '@/components/footer/footer.vue'
    import { mapState } from 'vuex'
    export default {
        components: {
            loadingComponent,
            headerComponent,
            footerComponent
        },
        methods: {
            goToNext(elem) {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/');
                }, 4000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            })
        }
    }
</script>
