<template>
    <div class="cherry-payment-page">

        <!-- ··· Component / Loading ··· -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- ··· Component / Header ··· -->
        <header-component>
            <div class="cherry-steps">
                <ul>
                    <li><div class="cherry-step-circle is-highlighted">1</div></li>
                    <li><div class="cherry-step-circle is-highlighted">2</div></li>
                    <li><div class="cherry-step-circle is-highlighted">3</div></li>
                </ul>
            </div>
        </header-component>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component class="is-first">
            <span class="odf-strong">Ya casi estás</span><br />Detalles del pago
        </between-box-component>

        <form @submit.prevent="goToNext" novalidate>
            <div class="cherry-box odf-container">
                <div class="odf-box odf-box-primary">
                    <div class="odf-box-content">
                        <div class="cherry-row-header odf-row-fluid">
                            <div class="odf-col odf-strong">Información de pago</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ··· Component / Price Break ··· -->
            <price-break-component>
                <div class="cherry-info-box">
                    <div class="odf-msg odf-msg-informative">
                        <div class="odf-msg-item odf-msg-icon">
                            <i class="odf-icon odf-icon-information"></i>
                        </div>
                        <div class="odf-msg-item odf-msg-content odf-text-sm">
                            Una vez que reserves con nosotros, recibirás en tu e-mail la confirmación de la reserva, así como otras ofertas de viajes similares. Puedes darte de baja de nuestra lista de correo en cualquier momento. Para ello solo tienes que hacer clic en el enlace situado en la parte inferior de nuestros e-mails.'
                        </div>
                    </div>
                </div>
            </price-break-component>




            <!-- Button -->
            <div class="odf-container">
                <div class="odf-box-content">
                    <button type="submit" class="odf-btn odf-btn-primary odf-btn-block">Continúa</button>
                </div>
            </div>

        </form>

        <!-- ··· Component / Footer ··· -->
        <footer-component></footer-component>

    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import headerComponent from '@/components/header/header.vue'
    import footerComponent from '@/components/footer/footer.vue'
    import betweenBoxComponent from '@/components/between-box/betweenBox.vue'
    import priceBreakComponent from '@/components/price-break/priceBreak.vue'
    import { mapState } from 'vuex'
    export default {
        components: {
            loadingComponent,
            headerComponent,
            footerComponent,
            betweenBoxComponent,
            priceBreakComponent
        },
        methods: {
            goToNext(elem) {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/confirmation');
                }, 4000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            })
        }
    }
</script>
