<template>
    <div class="cherry-auth-page">

        <div class="cherry-auth--logo">
            <img src="../../assets/images/logo_blue.svg">
        </div>

        <!-- Sign in -->
        <form @submit.prevent="authSignIn">
            <div class="cherry-box odf-container">
                <div class="odf-box odf-box-primary">
                    <div class="odf-box-content">
                        <!-- User -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('authName') }">
                                    <input
                                        id="authName"
                                        class="odf-text-md"
                                        type="text"
                                        name="authName"
                                        v-model="authName"
                                        v-validate="'required'"
                                    >
                                    <label for="authName" :class="{ 'is-active': this.authName != '' }" class="odf-text-md">Usuario</label>
                                    <span v-show="errors.has('authName')" class="help is-danger odf-text-sm">
                                        {{ errors.first('authName') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- Pass -->
                        <div class="odf-row-fluid">
                            <div class="odf-col">
                                <div class="cherry-input--box" :class="{ 'has-error': errors.has('authPass') }">
                                    <input
                                        id="authPass"
                                        class="odf-text-md"
                                        type="password"
                                        name="authPass"
                                        v-model="authPass"
                                        v-validate="'required'"
                                    >
                                    <label for="authPass" :class="{ 'is-active': this.authPass != '' }" class="odf-text-md">Contraseña</label>
                                    <span v-show="errors.has('authPass')" class="help is-danger odf-text-sm">
                                        {{ errors.first('authPass') }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="cherry-btn--continue">
                <div class="odf-container">
                    <button type="submit" @click="authSignIn" class="odf-btn odf-btn-primary odf-btn-block">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import firebase from 'firebase'
    import firebaseui from 'firebaseui'
    import { config } from '@/config/firebase'
    export default {
        name: 'auth',
        data() {
            return {
                authName: '',
                authPass: ''
            }
        },
        methods: {
            validate() {
                this.$validator.validateAll();
                return this.errors.any();
            },
            authSignIn() {
                if (!this.validate()) {
                    this.$validator.validateAll(); // This validates all fields after submit
                    const userAuth = document.getElementById('authName').value;
                    const passAuth = document.getElementById('authPass').value;
                    // Sign in
                    firebase.auth().signInWithEmailAndPassword(userAuth, passAuth)
                        .then()
                        .catch();
                } else {
                    console.log('No enviado!');
                    alert('Introduce el usuario y la contraseña')
                }
            }
        }
    }
</script>
