<template>
    <div class="cherry-combo-page">

        <!-- Loading Component -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- Header Component -->
        <header-component>
            <!-- Slot -->
            <div class="cherry-steps">
                <ul>
                    <li><div class="cherry-step-circle is-highlighted">1</div></li>
                    <li><div class="cherry-step-circle is-highlighted">2</div></li>
                    <li><div class="cherry-step-circle">3</div></li>
                </ul>
            </div>
        </header-component>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component>
            <span class="odf-strong">Personaliza tu combo</span><br />Viaja de forma inteligente
        </between-box-component>

        <combo-bundle-component></combo-bundle-component>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component>
            ¡No olvides reservar tu <br /><span class="odf-strong">transporte al aeropuerto!</span>
        </between-box-component>

        <!-- Ancilliaries -->
        <div class="odf-row-float odf-row-nogutter">
            <div v-for="anc in ancillaries" v-show="anc.grid === 6" class="odf-col odf-col-span6">
                <transition
                    name="animate.css"
                    enter-active-class="animated bounceIn"
                    leave-active-class="animated bounceOut"
                    :duration="600"
                    mode="out-in">
                    <ancillary-component v-if="!anc.added" :ancillary="anc"></ancillary-component>
                    <ancillary-added-component v-else :ancillary="anc"></ancillary-added-component>
                </transition>
            </div>
        </div>

        <!-- ··· Component / Price Break ··· -->
        <price-break-component></price-break-component>




        <!-- Button -->
        <div class="odf-container">
            <div class="odf-box-content">
                <button type="submit" class="odf-btn odf-btn-primary odf-btn-block">Continúa</button>
            </div>
        </div>




        <!-- ··· Component / Footer ··· -->
        <odp-footer></odp-footer>
    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import headerComponent from '@/components/header/header.vue'
    import footerComponent from '@/components/footer/footer.vue'
    import betweenBoxComponent from '@/components/between-box/betweenBox.vue'
    import comboBundleComponent from '@/components/combo-bundle/comboBundle.vue'
    import ancillaryComponent from '@/components/ancillary/ancillary.vue'
    import ancillaryAddedComponent from '@/components/ancillary/ancillaryAdded.vue'
    import priceBreakComponent from '@/components/price-break/priceBreak.vue'
    import { mapState } from 'vuex'
    export default {
        components: {
            loadingComponent,
            headerComponent,
            footerComponent,
            betweenBoxComponent,
            comboBundleComponent,
            ancillaryComponent,
            ancillaryAddedComponent,
            priceBreakComponent
        },
        data() {
            return {
                ancillaries: [
                    {
                        name: 'transport',
                        img: '../static/images/ancillaries/transport.png',
                        title: 'Transporte privado',
                        type: 'transport',
                        grid: 6,
                        text: '30 mins',
                        price: '64,60',
                        added: false,
                        options: {
                            available: false,
                            display: false
                        },
                        discount: {
                            available: false,
                            amount: 50
                        }
                    },
                    {
                        name: 'van',
                        img: '../static/images/ancillaries/van.png',
                        title: 'Furgoneta compartida',
                        type: 'transport',
                        grid: 6,
                        text: '45 mins',
                        price: '38,00',
                        added: false,
                        options: {
                            available: false,
                            display: false
                        },
                        discount: {
                            available: false,
                            amount: 50
                        }
                    }
                ],
            }
        },
        methods: {
            goToNext() {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/pay');
                }, 4000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            })
        }
    }
</script>
