// Header
.cherry-header {
    position: relative;
    .cherry-header-top {
        min-height: 61px;
        background: $custom-color-05;
        color: $mono-color-09;
        .cherry-logo {
            padding-right: 15px;
            img {
                max-height: 24px;
            }
        }
        .cherry-icon {
            color: $secondary-brand-color;
            a {
                float: left;
                i {
                    font-size: 20px;
                }
            }
        }
        .cherry-search {
            a {
                padding: 15px;
                i {
                    font-size: 24px;
                }
            }
        }
    }
}

.cherry-steps {
    position: absolute;
    top: 25px;
    right: 10px;
    ul {
        li {
            float: left;
            margin-right: 10px;
            position: relative;
            .cherry-step-circle {
                vertical-align: middle;
                font-weight: 700;
                border-radius: 100%;
                width: 16px;
                height: 16px;
                line-height: 14px;
                text-align: center;
                color: $mono-color-09;
                box-sizing: border-box;
                font-size: 13px;
                border: 1px solid $mono-color-09;
                &.is-highlighted {
                    background-color: $mono-color-09;
                    color: $mono-color-01;
                }
            }
        }
        li:not(:last-child):after {
            content: '';
            width: 12px;
            border-top: 1px solid $mono-color-09;
            position: absolute;
            top: 7px;
            right: -11px;
        }
    }
}
