<template>
    <header class="cherry-header">
        <div :style="{ paddingTop: paddingTop }" class="cherry-header-top">
            <div class="odf-box-content odf-row-fluid">
                <div class="cherry-logo odf-col odf-col-sm">
                    <a><img src="../../assets/images/logo.svg"></a>
                </div>
            </div>
        </div>
        <!-- Slot -->
        <slot></slot>
    </header>
</template>

<script>
    export default {
        data() {
            return {
                paddingTop: '10px'
            }
        }
    }
</script>
