// Loading Spinner
.cherry-loading {
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba($mono-color-09, .9);
    z-index: 9999;
    .cherry-loading--content {
        position: absolute;
        top: 30%;
        left: 20%;
        width: 60%;
        .cherry-loading--plane {
            display: block;
            position: relative;
            margin: 0 auto;
            border-radius: 100%;
            width: 100px;
            height: 100px;
            margin-bottom: 10px;
            span.cherry-loading--plane--content {
                animation: cherry-plane 1s linear infinite;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                width: 100px;
                height: 100px;
                border: none;
                background-image: url(./assets/images/loading_circle@2x.png);
                background-color: $secondary-brand-color;
                background-size: 100px;
                background-repeat: no-repeat;
            }
            span.cherry-loading--plane--icon {
                position: absolute;
                top: 32.5px;
                left: 32.5px;
                color: #039;
                font-size: 35px;
                z-index: 110;
            }
        }
        .cherry-loading--spinner {
            display: block;
            position: relative;
            margin: 0 auto;
            .odf-loading-rounded {
                display: block;
                margin: 0 auto;
            }
        }
        .cherry-loading--bar {
            position: fixed;
            z-index: 2147483647;
            top: 61px;
            left: 0px;
            width: 0%;
            height: 4px;
            background: $secondary-brand-color;
            -moz-border-radius: 1px;
            -webkit-border-radius: 1px;
            border-radius: 1px;
            animation: cherry-bar 1s linear infinite;
        }
        .cherry-loading--text {
            color: $primary-brand-color;
        }
    }
}

// -- Animations/Transitions
.loading-enter-active,
.loading-leave-active {
    transition: opacity .2s;
}

.loading-enter,
.loading-leave-to {
    opacity: 0;
}

@keyframes cherry-plane {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes cherry-bar {
    0% {
        width: 0px;
    }
    100% {
        width: 100%;
    }
}
