<template>
    <div class="cherry-loading">

        <!-- Header Component -->
        <header-component></header-component>

        <div v-if="this.$route.name === 'home-page'" class="cherry-loading--content">
            <div class="cherry-loading--plane">
                <span class="cherry-loading--plane--content"></span>
                <span class="cherry-loading--plane--icon odf-icon odf-icon-flight-right"></span>
            </div>
            <p class="cherry-loading--text odf-text-xl odf-text-center">Buscando las mejores ofertas en más de 450 compañías...</p>
        </div>
        <div v-else class="cherry-loading--content">
            <div class="cherry-loading--spinner">
                <div class="odf-loading-rounded odf-loading-rounded-informative">
                    <div class="odf-loading-rounded-container">
                        <svg class="odf-path-container" viewBox="0 0 100 100">
                            <path class="odf-loading-rounded-track" d="M 50,50 m 0,-44.5 a 44.5,44.5 0 1 1 0,89 a 44.5,44.5 0 1 1 0,-89"></path>
                            <path class="odf-loading-rounded-head" d="M 94.5 50 A 44.5 44.5 0 0 0 50 5.5"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import headerComponent from '@/components/header/header.vue'
    export default {
        components: {
            headerComponent
        }
    }
</script>
