// Footer
.cherry-footer {
    margin-top: 10px;
    > .odf-box {
        border-radius: 0;
        > .odf-box-content {
            padding: 20px;
        }
    }
    img {
        max-width: 80px;
        margin-bottom: 5px;
    }
    p {
        color: $mono-color-05;
    }
}

.cherry-footer-home {
    >.odf-box {
        box-shadow: none;
    }
}
