<template>
    <footer class="cherry-footer">
        <div class="odf-box odf-box-primary odf-text-center">
            <div class="odf-box-content">
                <img src="../../assets/images/logo_blue.svg">
                <p class="odf-text-xs">eDreams ® 2017</p>
            </div>
        </div>
    </footer>
</template>
