// Summary Page
.cherry-summary-page {
    .cherry-summary--segment {
        .cherry-summary--date {
            color: $mono-color-04;
        }
        .cherry-summary--ribbon {
            position: relative;
            .cherry-summary--spot {
                width: 14px;
                height: 14px;
                position: relative;
                border-radius: 8px;
                border: 2px solid $secondary-brand-color-light;
                background-color: $mono-color-09;
                &.is-arrival {
                    background-color: $secondary-brand-color-light;
                }
            }
            .cherry-summary--line {
                width: 2px;
                position: absolute;
                top: 14px;
                right: 0;
                bottom: 0;
                left: 0;
                margin: 0 11px;
                background: $secondary-brand-color-light;
            }
        }
        .cherry-summary--airport {
            margin-bottom: 5px;
            .cherry-summary--city {
                color: $mono-color-04;
            }
            .cherry-summary--airline {
                margin: 5px 0;
                .cherry-summary--image {
                    margin-right: 5px;
                }
                .cherry-summary--company {
                    color: $mono-color-04;
                    padding-left: 5px;
                }
            }
            .cherry-summary--class {
                margin-bottom: 5px;
                color: $mono-color-04;
            }
            .cherry-summary--baggage {
                margin-bottom: 5px;
                color: $mono-color-04;
            }
        }
    }
}
