<template>
    <div class="cherry-summary-page">

        <!-- ··· Component / Loading ··· -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- ··· Component / Header ··· -->
        <header-component></header-component>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component class="is-first">
            Tu viaje a <br /><span class="odf-strong">Nueva York</span>
        </between-box-component>

        <!-- Ida -->
        <div class="cherry-box odf-container">
            <div class="odf-box odf-box-primary">
                <div class="odf-box-content">
                    <div class="cherry-row-header odf-row-fluid">
                        <div class="odf-col odf-strong">Ida</div>
                        <div class="odf-col odf-text-lg odf-strong odf-text-right">
                            <div class="cherry-row-header--right"><i class="odf-icon odf-icon-time"></i>8h 40 min</div>
                        </div>
                    </div>
                    <!-- Salida -->
                    <div class="cherry-summary--segment odf-row-fluid">
                        <div class="odf-col odf-col-top">
                            <div class="odf-text-md odf-strong">18:20</div>
                            <div class="cherry-summary--date odf-text-sm odf-strong">15 dic</div>
                        </div>
                        <div class="cherry-summary--ribbon odf-col odf-col-top">
                            <div class="cherry-summary--spot"></div>
                            <div class="cherry-summary--line"></div>
                        </div>
                        <div class="cherry-summary--airport odf-col odf-col-span12 odf-col-top odf-text-md odf-strong">
                            <div class="odf-text-md odf-strong">El Prat</div>
                            <div class="cherry-summary--city odf-text-md odf-strong">Barcelona, (España)</div>
                            <div class="cherry-summary--airline odf-row-fluid odf-row-nogutter">
                                <div class="odf-col odf-col-top">
                                    <div class="cherry-summary--airline">
                                        <img src="../../assets/images/summary/tk.gif">
                                    </div>
                                </div>
                                <div class="cherry-summary--company odf-col odf-col-span12 odf-col-middle">Norwegian Air</div>
                            </div>
                            <div class="cherry-summary--class">
                                <i class="odf-icon odf-icon-seat"></i>Económica
                            </div>
                            <div v-show="showBaggage" class="cherry-summary--baggage">
                                <i class="odf-icon odf-icon-baggage"></i>Maleta de mano incl.
                            </div>
                        </div>
                    </div>
                    <!-- Llegada -->
                    <div class="cherry-summary--segment odf-row-fluid">
                        <div class="odf-col odf-col odf-col-top">
                            <div class="odf-text-md odf-strong">21:00</div>
                            <div class="cherry-summary--date odf-text-sm odf-strong">15 dic</div>
                        </div>
                        <div class="cherry-summary--ribbon odf-col odf-col-top">
                            <div class="cherry-summary--spot is-arrival"></div>
                        </div>
                        <div class="cherry-summary--airport odf-col odf-col-span12 odf-col-top odf-text-md odf-strong">
                            <div class="odf-text-md odf-strong">Newark Internation Airport</div>
                            <div class="cherry-summary--city odf-text-md odf-strong">Nueva York, (EE.UU)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Vuelta -->
        <div class="cherry-box odf-container">
            <div class="odf-box odf-box-primary">
                <div class="odf-box-content">
                    <div class="cherry-row-header odf-row-fluid">
                        <div class="odf-col odf-strong">Vuelta</div>
                        <div class="odf-col odf-text-lg odf-strong odf-text-right">
                            <div class="cherry-row-header--right"><i class="odf-icon odf-icon-time"></i>7h 15 min</div>
                        </div>
                    </div>
                    <!-- Salida -->
                    <div class="cherry-summary--segment odf-row-fluid">
                        <div class="odf-col odf-col-top">
                            <div class="odf-text-md odf-strong">23:00</div>
                            <div class="cherry-summary--date odf-text-sm odf-strong">24 dic</div>
                        </div>
                        <div class="cherry-summary--ribbon odf-col odf-col-top">
                            <div class="cherry-summary--spot"></div>
                            <div class="cherry-summary--line"></div>
                        </div>
                        <div class="cherry-summary--airport odf-col odf-col-span12 odf-col-top odf-text-md odf-strong">
                            <div class="odf-text-md odf-strong">Newark Internation Airport</div>
                            <div class="cherry-summary--city odf-text-md odf-strong">Nueva York, (EE.UU)</div>
                            <div class="cherry-summary--airline odf-row-fluid odf-row-nogutter">
                                <div class="odf-col odf-col-top">
                                    <div class="cherry-summary--airline">
                                        <img src="../../assets/images/summary/tk.gif">
                                    </div>
                                </div>
                                <div class="cherry-summary--company odf-col odf-col-span12 odf-col-middle">Norwegian Air</div>
                            </div>
                            <div class="cherry-summary--class">
                                <i class="odf-icon odf-icon-seat"></i>Económica
                            </div>
                            <div v-show="showBaggage" class="cherry-summary--baggage">
                                <i class="odf-icon odf-icon-baggage"></i>Maleta de mano incl.
                            </div>
                        </div>
                    </div>
                    <!-- Llegada -->
                    <div class="cherry-summary--segment odf-row-fluid">
                        <div class="odf-col odf-col odf-col-top">
                            <div class="odf-text-md odf-strong">12:15</div>
                            <div class="cherry-summary--date odf-text-sm odf-strong">25 dic</div>
                        </div>
                        <div class="cherry-summary--ribbon odf-col odf-col-top">
                            <div class="cherry-summary--spot is-arrival"></div>
                        </div>
                        <div class="cherry-summary--airport odf-col odf-col-span12 odf-col-top odf-text-md odf-strong">
                            <div class="odf-text-md odf-strong">El Prat</div>
                            <div class="cherry-summary--city odf-text-md odf-strong">Barcelona, (España)</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- ··· Component / Price Break ··· -->
        <price-break-component></price-break-component>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component>
            ¡Los combos te ahorrarán <br /><span class="odf-strong">tiempo y dinero!</span>
        </between-box-component>

        <!-- ··· Component / Combo Basic ··· -->
        <combo-box-component-basic @continue="goWithComboBasic"></combo-box-component-basic>

        <!-- ··· Component / Combo Full ··· -->
        <combo-box-component-full @continue="goWithComboFull"></combo-box-component-full>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component>
            ...o si no deseas ahorrar tiempo y dinero
        </between-box-component>




        <!-- Button -->
        <div class="odf-container">
            <div class="odf-box-content">
                <button type="submit" @click="goWithoutCombo" class="odf-btn odf-btn-primary odf-btn-block">Continúa sin combo</button>
            </div>
        </div>




        <!-- ··· Component / Footer ··· -->
        <footer-component></footer-component>

    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import headerComponent from '@/components/header/header.vue'
    import footerComponent from '@/components/footer/footer.vue'
    import betweenBoxComponent from '@/components/between-box/betweenBox.vue'
    import comboBoxComponentBasic from '@/components/combo-box/comboBoxBasic.vue'
    import comboBoxComponentFull from '@/components/combo-box/comboBoxFull.vue'
    import priceBreakComponent from '@/components/price-break/priceBreak.vue'
    import { mapState } from 'vuex'
    export default {
        components: {
            loadingComponent,
            headerComponent,
            footerComponent,
            betweenBoxComponent,
            comboBoxComponentBasic,
            comboBoxComponentFull,
            priceBreakComponent
        },
        data() {
            return {
                showBaggage: true
            }
        },
        methods: {
            goWithComboBasic(elem) {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/pax/wb-combo');
                }, 4000)
            },
            goWithComboFull(elem) {
                this.showLoading = !this.showLoading;
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/pax/wf-combo');
                }, 4000)
            },
            goWithoutCombo(elem) {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/pax/wo-combo');
                }, 4000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            })
        }
    }
</script>
