// Home Page
.cherry-home-page {
    > .odf-container {
        > div i {
            margin-right: 10px;
        }
    }
    .cherry-search-box {
        margin: 10px 0;
        .cherry-search-input {
            color: $mono-color-04;
            p.cherry-city {
                padding-top: 5px;
                padding-left: 5px;
                &.is-selected {
                    color: $mono-color-02;
                }
            }
            .cherry-city-label {
                width: 85%;
                padding-left: 5px;
                padding-bottom: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            p.cherry-date,
            p.cherry-passengers {
                padding-bottom: 5px;
                padding-left: 5px;
                &.is-selected {
                    color: $mono-color-02
                }
            }
            .cherry-date-label,
            .cherry-passengers-label,
            .cherry-class-label {
                width: 85%;
                padding-left: 5px;
                padding-top: 5px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            },
            .cherry-class {
                select {
                    border: none;
                    box-shadow: none;
                    padding: 0 0 5px 5px;
                    height: 27px;
                }
            }
            .cherry-checkbox {
                padding-left: 5px;
                input + label {
                    @extend .odf-text-sm;
                }
            }
        }
        .cherry-row {
            border-bottom: 1px solid $mono-color-06;
            &:last-child {
                border-bottom: 0;
            }
            .cherry-col {
                padding: 0 5px;
                border-right: 1px solid $mono-color-06;
                &:last-child {
                    border-right: 0;
                }
            }
        }
    }
}
