<template>
    <div class="cherry-home-page">

        <!-- Loading Component -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- Header Component -->
        <header-component></header-component>

        <!-- Between Sections -->
        <between-box-component class="is-first">
            Los mejores viajes empiezan <br /><span class="odf-strong">con el mejor precio</span>
        </between-box-component>


        <div class="odf-container">
            <section class="cherry-search-box odf-box">
                <div class="cherry-row odf-row">
                    <!-- City Selection -->
                    <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <p class="cherry-city is-selected odf-h4">BCN</p>
                            <div class="cherry-city-label odf-text-sm">Barcelona, BCN, España</div>
                        </div>
                    </div>
                    <!-- City Selection -->
                    <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <p class="cherry-city is-selected odf-h4">NYC</p>
                            <div class="cherry-city-label odf-text-sm">Nueva York, NYC, EE.UU</div>
                        </div>
                    </div>
                    <!-- No City Selection -->
                    <!-- <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <p class="cherry-city odf-text-2lg">Destino</p>
                            <div class="cherry-city-label odf-text-sm"></div>
                        </div>
                    </div> -->
                </div>
                <div class="cherry-row odf-row">
                    <!-- Date Selection -->
                    <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <div class="cherry-date-label odf-text-sm">Fecha de ida</div>
                            <p class="cherry-date is-selected odf-h4">Vie, 15 Dic 2017</p>
                        </div>
                    </div>
                    <!-- Date Selection -->
                    <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <div class="cherry-date-label odf-text-sm">Fecha de vuelta</div>
                            <p class="cherry-date is-selected odf-h4">Lun, 25 Dic 2017</p>
                        </div>
                    </div>
                    <!-- No Date Selection -->
                    <!-- <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <div class="cherry-date-label odf-text-sm"></div>
                            <p class="cherry-date odf-text-2lg">Fecha de vuelta</p>
                        </div>
                    </div> -->
                </div>
                <div class="cherry-row odf-row">
                    <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <div class="cherry-passengers-label odf-text-sm">Pasajeros</div>
                            <p class="cherry-passengers is-selected odf-h4">3 adultos</p>
                        </div>
                    </div>
                </div>
                <div class="cherry-row odf-row">
                    <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <div class="cherry-checkbox odf-selectable">
                                <input v-model="checked" id="direct-1" name="direct-1" type="checkbox" class="odf-selectable-native"/>
                                <label for="direct-1" class="odf-selectable-label">
                                    <span class="odf-selectable-back odf-checkbox-back">
                                        <span class="odf-selectable-fill odf-checkbox-fill"><span class="odf-icon odf-icon-tick"></span></span>
                                    </span>
                                    Solo vuelos directos
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="cherry-col odf-col odf-col-span6 odf-col-middle">
                        <div class="cherry-search-input">
                            <div class="cherry-class-label odf-text-sm">Clase</div>
                            <div class="cherry-class odf-input-group">
                                <select class="odf-input odf-select odf-h4">
                                    <option
                                        v-for="item in passengerClass"
                                        :value="item.id"
                                        :key="item.id"
                                    >
                                        {{ item.name }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <button @click="goToNext" class="odf-btn odf-btn-primary odf-btn-block">Buscar vuelos</button>
        </div>

        <!-- Footer Component -->
        <footer-component :class="{ 'cherry-footer-home': flights }"></footer-component>

    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import headerComponent from '@/components/header/header.vue'
    import footerComponent from '@/components/footer/footer.vue'
    import betweenBoxComponent from '@/components/between-box/betweenBox.vue'
    import { mapState } from 'vuex'
    export default {
        components: {
            loadingComponent,
            headerComponent,
            footerComponent,
            betweenBoxComponent
        },
        data() {
            return {
                flights: true,
                checked: true,
                directflight: {
                    id: 'direct-1',
                    is: false
                },
                passengerClass: [
                    {
                        id: 1,
                        name: 'Turista'
                    },
                    {
                        id: 2,
                        name: 'Turista Superior'
                    },
                    {
                        id: 3,
                        name: 'Business'
                    },
                    {
                        id: 4,
                        name: 'Primera'
                    }
                ]
            }
        },
        methods: {
            goToNext(elem) {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/results');
                }, 4000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            })
        }
    }
</script>
