<template>
    <div class="cherry-extras-page">

        <!-- ··· Component / Loading ··· -->
        <transition name="loading">
            <loading-component v-if="loading"></loading-component>
        </transition>

        <!-- ··· Component / Header ··· -->
        <header-component>
            <div class="cherry-steps">
                <ul>
                    <li><div class="cherry-step-circle is-highlighted">1</div></li>
                    <li><div class="cherry-step-circle is-highlighted">2</div></li>
                    <li><div class="cherry-step-circle">3</div></li>
                </ul>
            </div>
        </header-component>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component class="is-first">
            <span class="odf-strong">Personaliza tu viaje</span><br />Protege tu viaje
        </between-box-component>

        <!-- Ancillaries Protect -->
        <div class="odf-row-float odf-row-nogutter">
            <div v-for="anc in ancillariesProtect" v-if="anc.views.extra" :class="{ 'odf-col-span12': anc.grid === 12, 'odf-col-span6': anc.grid === 6 }" class="odf-col">
                <transition
                name="animate.css"
                enter-active-class="animated bounceIn"
                leave-active-class="animated bounceOut"
                :duration="600"
                mode="out-in">
                <!-- ··· Component / Ancillary ··· -->
                <ancillary-component v-if="!anc.added" :ancillary="anc"></ancillary-component>
                <!-- ··· Component / Ancillary Added ··· -->
                <ancillary-added-component v-else :ancillary="anc"></ancillary-added-component>
                </transition>
            </div>
        </div>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component>
            Sé flexible
        </between-box-component>

        <!-- Ancillaries Flexible -->
        <div class="odf-row-float odf-row-nogutter">
            <div v-for="anc in ancillariesFlexible" :class="{ 'odf-col-span12': anc.grid === 12, 'odf-col-span6': anc.grid === 6 }" class="odf-col">
                <transition
                name="animate.css"
                enter-active-class="animated bounceIn"
                leave-active-class="animated bounceOut"
                :duration="600"
                mode="out-in">
                <!-- ··· Component / Ancillary ··· -->
                <ancillary-component v-if="!anc.added" :ancillary="anc"></ancillary-component>
                <!-- ··· Component / Ancillary Added ··· -->
                <ancillary-added-component v-else :ancillary="anc"></ancillary-added-component>
                </transition>
            </div>
        </div>

        <!-- ··· Component / Between Sections ··· -->
        <between-box-component>
            Completa tu viaje
        </between-box-component>

        <!-- Ancillaries Complete -->
        <div class="odf-row-float odf-row-nogutter">
            <div v-for="anc in ancillariesComplete" :class="{ 'odf-col-span12': anc.grid === 12, 'odf-col-span6': anc.grid === 6 }" class="odf-col">
                <transition
                name="animate.css"
                enter-active-class="animated bounceIn"
                leave-active-class="animated bounceOut"
                :duration="600"
                mode="out-in">
                <!-- ··· Component / Ancillary ··· -->
                <ancillary-component v-if="!anc.added" :ancillary="anc"></ancillary-component>
                <!-- ··· Component / Ancillary Added ··· -->
                <ancillary-added-component v-else :ancillary="anc"></ancillary-added-component>
                </transition>
            </div>
        </div>

        <!-- ··· Component / Price Break ··· -->
        <price-break-component></price-break-component>




        <!-- Button -->
        <div class="odf-container">
            <div class="odf-box-content">
                <button @click="goToNext" type="button" class="odf-btn odf-btn-primary odf-btn-block">Continúa</button>
            </div>
        </div>




        <!-- ··· Component / Footer ··· -->
        <footer-component></footer-component>

    </div>
</template>

<script>
    import loadingComponent from '@/components/loading/loading.vue'
    import headerComponent from '@/components/header/header.vue'
    import footerComponent from '@/components/footer/footer.vue'
    import betweenBoxComponent from '@/components/between-box/betweenBox.vue'
    import ancillaryComponent from '@/components/ancillary/ancillary.vue'
    import ancillaryAddedComponent from '@/components/ancillary/ancillaryAdded.vue'
    import priceBreakComponent from '@/components/price-break/priceBreak.vue'
    import { mapState } from 'vuex'
    import { mapGetters } from 'vuex'
    export default {
        components: {
            loadingComponent,
            headerComponent,
            footerComponent,
            betweenBoxComponent,
            ancillaryComponent,
            ancillaryAddedComponent,
            priceBreakComponent
        },
        methods: {
            goToNext(elem) {
                this.$store.commit('load', elem);
                setTimeout(() => {
                    this.$store.commit('load', elem);
                    this.$router.push('/pay');
                }, 4000)
            }
        },
        computed: {
            ...mapState({
                loading: 'loader'
            }),
            ...mapGetters({
                ancillariesProtect: 'ancillariesProtect',
                ancillariesFlexible: 'ancillariesFlexible',
                ancillariesComplete: 'ancillariesComplete'
            })
        }
    }
</script>
